:root {
  --el-color-primary: #2a5ebb;
  --el-color-primary-light-3: #4c78c9;
  --el-color-primary-light-5: #739ad6;
  --el-color-primary-light-7: #9dbae4;
  --el-color-primary-light-8: #ccdcf1;
  --el-color-primary-light-9: #eaf0f8;
  --el-color-primary-dark-2: #204ea7;

  --el-color-success: #76b33e;
  --el-color-warning: #d28d1f;
  --el-color-danger: #d54f2e;
  --el-color-info: #909399;
}
